/*

    A block element goes the entire width of the page -- you can change the size
    An inline element is only as wide as it needs to be -- you cannot change the size of an inline element

    To be able to sit elements beside a block element you change the display property
    display: inline; -- will change to an inline element from block - size still cant be changed
    display: inline-block -- changes element to inline element but size can be changed
    display: none; dont show element at all

*/
.top-container {
  background-color: #beeef7;
  margin: 0;
  display: inline-block;
}

.middle-container {
  height: 200px;
  width: 200px;
  background-color: red;
}

.bottom-container {
  height: 200px;
  width: 200px;
  background-color: blue;
  display: inline-block;
}

h1 {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
}

p {
  margin: 0;
}

.pro {
  text-decoration: underline;
}
